@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
*{
   
    font-family: "Tilt Neon", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    word-spacing: 5px;
    transition:all 0.5s;
}
body{
    background-color:honeydew;
}
#content-btn{
    position:fixed;
    top:50%;
    transform: translateY(-50%) translateX(-50%);
    opacity: 0.5;
    height:20vh;
    &:hover{
        opacity:1;
        
    }
   

}